<div class="container-fluid">
    <h2>content</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum alias consectetur nihil eius, porro consequuntur vero molestiae quia, quaerat magnam consequatur tempore fugit nulla unde labore sint quam cupiditate officia!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, aliquam? Iusto, quidem! Quidem, libero eos totam omnis animi obcaecati natus blanditiis itaque nesciunt sapiente quam beatae ratione praesentium nisi placeat!</p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur beatae ducimus exercitationem sequi maxime, debitis ad cum pariatur eaque enim!
    </p>
</div>